.container section {
    padding-bottom: 5%;
}

.criteria .row {
    padding-bottom: 3%;
}

.col-header {
    text-align: center;
}

.col-text {
    font-size: 10px;
    font-weight: bold;
}


.col-table {
    border-color: #333;
    border-width: 1px;
    border-style: solid;
}